<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .upperRoman li {
            list-style-type: upper-roman;
        }
        
        .circle li {
            list-style-type: circle;
        }
        .square1 li {
            list-style-type: square;
        }

        .lowerRoman li {
            list-style-type: lower-roman;
        }
        .disc li {
            list-style-type: disc;
        }

        .square2 li {
            list-style-type: square;
        }

    </style>
</head>

<body>
    <h1> LISTS</h1>
    <ol>
        <li> Main Topic 1</li>
        <ol class = "upperRoman"> 
            <li> Topic 1</li>
            <li> Topic 2
                <ul class = "circle">
                    <li> Subtopic 1
                        <ul class = "square1"> 
                            <li> Mini Topic 1</li>
                            <li> Mini Topic 2</li>
                            <li> Mini Topic 3</li>
                        </ul>
                    </li>
                    <li> Subtopic 2</li>
                </ul>
            </li>
            <li> Topic 3
                <ol class = "lowerRoman">
                    <li> Subtopic 1</li>
                    <li> Subtopic 2
                        <ul class = "disc">
                            <li>Mini Topic 1</li>
                            <li>Mini Topic 2</li>
                        </ul>
                    </li>
                    <li> Subtopic 3</li>
                </ol>
            </li>
        </ol>
        <li> Main Topic 2</li>
        <li> Main Topic 3</li>
        <ul class = "square2"> 
            <li> Mini Topic 1</li>
            <li> Mini Topic 2</li>
            <li> Mini Topic 3</li>
        </ul>
    </ol>


</body>
</html>